#box {
  width: 300px;
  height: 200px;
  position: absolute;
  -webkit-transform-style: preserve-3d;
}

#box figure {
  display: block;
  position: absolute;
  border: 2px solid black;
}

#box .front,
#box .back {
  width: 296px;
  height: 196px;
}

#box .right,
#box .left {
  width: 96px;
  height: 196px;
  left: 100px;
}

#box .top,
#box .bottom {
  width: 296px;
  height: 96px;
  top: 50px;
}

#box .front {
  -webkit-transform: rotateY(0deg) translateZ(50px);
}

#box .back {
  -webkit-transform: rotateX(180deg) translateZ(50px);
}

#box .right {
  -webkit-transform: rotateY(90deg) translateZ(150px);
}

#box .left {
  -webkit-transform: rotateY(-90deg) translateZ(150px);
}

#box .top {
  -webkit-transform: rotateX(90deg) translateZ(100px);
}

#box .bottom {
  -webkit-transform: rotateX(-90deg) translateZ(100px);
}

/* .isometric-box {
  margin: 0 auto;
  transform: rotateX(65deg) rotateZ(28deg);
  transform-style: preserve-3d;
  will-change: transform;
  width: 340px;
  height: 240px;
  background: #070221;
  border-radius: 1rem;
  box-shadow: 12px 12px 0 1px #f9f9fb, -1px 0 28px 0 rgba(34, 33, 81, 0.01),
    28px 28px 28px 0 rgba(34, 33, 81, 0.25);
  transition: 0.4s ease-in-out transform, 0.3s ease-in-out box-shadow;
  color: #fff;
}

.isometric-box:hover {
  transform: translate3d(0px, -16px, 0px) rotateX(25deg) rotateZ(28deg);
  box-shadow: 1px 1px 0 1px #f9f9fb, -1px 0 28px 0 rgba(34, 33, 81, 0.01),
    54px 54px 28px -10px rgba(34, 33, 81, 0.15);
}

.isometric-box {
  display: flex;
  align-items: center;
}

.isometric-box p {
  margin: 0 36px;
  text-align: center;
} */